.toolbar-container{
    width: 100%;
    background-color:  #ffffff;
    /* background-color: teal; */
    position: relative;
    height: 7%;
    top: 0;
}

.MuiToolbar-regular{
    height: 80px;
}

.sub-menu{
    text-decoration: none;
    list-style: none;
    display: flex;
}
.menu-items{
    margin-left: 5%;
}

.menu-items > button {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: none;
    -webkit-transition: left .2s ease-out,width .2s ease-out;
    transition: left .2s ease-out,width .2s ease-out;
    font-weight: 500;
    text-transform: uppercase;
}