.toolbar-container{
    width: 100%;
    background-color:  #ffffff;
    /* background-color: teal; */
    position: relative;
    height: 7%;
    top: 0;
}

.MuiToolbar-regular{
    height: 80px;
}

.sub-menu{
    text-decoration: none;
    list-style: none;
    display: flex;
}
.menu-items{
    padding: 0 12px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: none;
    -webkit-transition: left .2s ease-out,width .2s ease-out;
    transition: left .2s ease-out,width .2s ease-out;
    font-weight: 500;
    text-transform: uppercase;
}

.menu-items > button {
    
}

.menu-items:hover{
    border-bottom-color: #ee5f73;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    -webkit-transition: left .1s ease-out,border-color .2s ease-in;
    transition: left .1s ease-out,border-color .2s ease-in;
}